/* Reading WPM Checker styles*/
textarea {
    width: 100%;
    max-width: 960px;
    height: 80vh;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.35rem;
    background-color: #fafafa;
    color: #555;
    margin: 0 auto;
    display: block;
}

#text-display {
    width: 100%;
    max-width: 960px;
    height: 80vh;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow: auto;
    font-size: 1.35rem;
    background-color: #fafafa;
    line-height: 1.5;
    margin: 0 auto;
}

#control-area {
    height: 20vh;
}

.button-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

#trigger-btn {
    margin-left: auto;
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    margin: 10px auto 0 auto;
    max-width: 960px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}